* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow-y: scroll;
}
.container {
  background: linear-gradient(
    to bottom,
    white 10%,
    hsl(174, 70%, 66%) 50%,
    white 100%
  );
}
.navbar {
  box-shadow: 5px 3px 8px hsla(0, 0%, 48%, 0.471);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.site-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.signup {
  text-decoration: none;
  background-color: hsl(222, 76%, 53%);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: small;
}
.signup:hover {
  background-color: hsl(222, 76%, 43%);
}
.center {
  margin-top: 110px;
  text-align: center;
  padding: 80px 20px;
}
.center h1 {
  font-size: 4em;
  margin-bottom: 15px;
}
.center p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: gray;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.create {
  background-color: rgb(46, 100, 226);
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}
.learn {
  background-color: transparent;
  padding: 10px 15px;
  color: hsl(0, 0%, 0%);
  font-weight: bold;
  text-decoration: none;
}
.learn:hover {
  color: hsl(0, 0%, 20%);
}
.create:hover {
  background-color: hsl(222, 76%, 43%);
}
.template {
  background-color: #fff;
  border-radius: 20px;
  height: 700px;
  margin: 50px 200px;
  box-shadow: 5px 5px 10px gray;
}
h5 {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  color: hsl(174, 90%, 32%);
  font-size: 1.2rem;
  text-shadow: #0b0b0b;
}
.feature-content {
  font-size: 2em;
}
h2 {
  text-align: center;
  padding-bottom: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  padding: 70px;
  row-gap: 5px;
}
.divs {
  display: flex;
  gap: 20px;
  place-content: center;
  padding: 20px 4opx;
  font-family: Arial, Helvetica, sans-serif;
}
i {
  font-size: 1.5em;
}

.faq {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq h2 {
  margin-top: 2rem;
  font-size: 2rem;
}
.faq ul {
  margin: 3rem auto;
  width: 75%;
  max-width: 900px;
}
.faq ul li {
  list-style: none;
  margin-bottom: 8px;
}
.faq .question {
  margin-bottom: 2px;
  padding: 40px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 2px solid gray;
  transition: color 0.3s ease;
}
.faq .answer {
  max-height: 0; 
  overflow: hidden;
  font-size: 20px;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out; 
  padding: 0 20px; 
}

.faq .answer.active {
    max-height: 200px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    border-bottom: 1px solid #eee; 
}

.faq .answer span {
  display: inline-block;
  padding: 1.2rem 0; 
}

.faq .question .icon {
    font-size: large; 
    margin-left: 10px; 
    transition: transform 0.3s ease; 
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 100px 100px;
  width: 100vw;
}
.ft {
  display: flex;
  align-items: center;
  color: grey;
}
#btn {
  padding: 10px 13px;
  border-radius: 50%;
  border: none;
  background-color: #4f46e5;
  color: white;
  position: relative;
  bottom: 120px;
  right: 40px;
}
